.card {
  border: 1px solid #d1d5dc;
  width: 340px;
  margin: auto;
}
div {
  padding: 32px 24px;
}
h1 {
  font-size: 30px;
  padding-bottom: 16px;
}
section p {
  padding-bottom: 16px;
}
ul {
  list-style-type: circle;
  padding: 0px 16px;
}
li {
  padding-bottom: 12px;
}
.addInCart {
  font-size: 18px;
  background-color: #ff133e;
  border: 1px solid #ff133e;
  color: white;
  width: 292px;
  padding: 12px 0px;
}
.addInCart:hover {
  background-color: #bd1836;
  border: 1px solid #bd1836;
  cursor: pointer;
}
.directPurchase {
  font-size: 18px;
  background-color: white;
  border: 1px solid #ff133e;
  color: #ff133e;
  width: 292px;
  padding: 12px 0px;
  margin-top: 8px;
}
.directPurchase:hover {
  background-color: rgb(255, 232, 232);
  cursor: pointer;
}
hr {
  margin: 24px 0px;
}
footer {
  border: 1px solid #d1d5dc;
  width: 340px;
  margin: 0px auto;
}
footer p {
  padding: 16px 0px;
  text-align: center;
  width: 340px;
  display: inline-block;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;

  display: grid;
  place-items: center;
}
